/* You can add global styles to this file, and also import other style files */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .d-tools:hover{
    opacity: 1;
    
}

.d-tools{
    display: block;
    opacity: 0;;
    position: absolute;
    background: rgba(0, 0, 0, 0.20) 50%;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: white;
    text-align: center;
    cursor: default;
    text-align: right;

}
.d-tools:before{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 0.45em;
    height: 0.1em;
    position: absolute;
    content: "";
    cursor: default;
    opacity: 1;
    top: 0.33em;
    right: auto;
    bottom: auto;
    left: 0.155em;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 28px;
    color: rgba(0,0,0,1);
    text-decoration: none;
    text-align: left;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    word-wrap: normal;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.d-tools:after{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 0.45em;
    height: 0.1em;
    position: absolute;
    content: "";
    cursor: default;
    opacity: 1;
    top: 0.33em;
    right: auto;
    bottom: auto;
    left: 0.155em;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 28px;
    color: rgba(0,0,0,1);
    text-decoration: none;
    text-align: left;
    text-transform: none;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: normal;
    word-spacing: 0;
    word-wrap: normal;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
        
    }



  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
  }
  .navbar .navbar-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content:center;
  }
  .navbar .nav-item{
    -webkit-flex: 1 auto;
	  flex: 1 auto;
    text-align: center;
    font-size: 22px;
    padding: 0 28px;
  }

  .not-padding{
    padding-right: 0;
    padding-left: 0; 
  }

  .category-page .page-header{
    position: absolute;
    margin: 32px auto 5px 0;;
  }
  .category-page h2,h4 {
    color:white;
    text-shadow:  0 0 1px #000000;
  }
  .category-page {
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .category-page .page-img-top{
    height: 130px;
  }
  .category-page .page-img-top img {

    margin: -50% -35% -30% auto;
  }
  .category-page .indicator-btn {
    font-size: 45px;
    color:white;
    text-shadow:  0 0 1px #000000;
  }