<div class="card">
  <!--Hard code-->
  <!-- <div class="card-block">
     <h2 class="text-title">
    <div class="form-group">
      <label>Image url</label>
      <input type="text" [(ngModel)]='food.imageUrl'> 
    </div>
  </h2> 
  </div> -->
  <div class="card-block">
    <div class="form-group">
      <label>food category</label>
      <input type="text" [(ngModel)]='foodCategory'> 
  </div>
  <h2 class="text-title">
     <div class="form-group">
      <label>Name food</label>
      <input type="text" [(ngModel)]='food.name'> 
    </div>
  </h2>
   <h6 class="text-title">
     <div class="form-group">
      <label>Prep time</label>
      <input type="number" [(ngModel)]='food.prepTime'> 
    </div>
  </h6>
   <h6 class="text-title">
    <div class="form-group">
      <label> Cook time</label>
      <input type="number" [(ngModel)]='food.cookTime'> 
    </div>
  </h6>
  <h5>Yield: <input type='number' [(ngModel)]='food.yield' placeholder="Yield"> servings</h5>
  <h4 class="text-title">
   Ingredients
  </h4>
  <ul class="list-group list-group-flush">
    <ng-container *ngIf='food.ingredientDescriptions'>
       <li class="list-group-item" *ngFor='let ingred of food.ingredientDescriptions'>
      {{ ingred.count }} {{ingred.measureType}}, {{ ingred.name }} 
    </li>
    </ng-container>
    <li class="list-group-item">
      <input type="number" [(ngModel)]='tempIngredient.count' placeholder="count of ingridient">
      <input type="text" [(ngModel)]='tempIngredient.measureType' placeholder="type">
      <input type="text" [(ngModel)]='tempIngredient.name'  placeholder="name of ingridient">
      <button class="btn btn-success" (click)='addIngredient()'>Add ingredient +</button>
    </li>
  </ul>
  </div>
  <div class="card-block">
    <div class="card-text">
      <p>Direction</p>
      <ul class="list-group list-group-flush">
        <ng-container *ngIf='food.directions'>
          <li class="list-group-item" *ngFor='let direction of food.directions; let i = index'>
           {{i+1}}. {{ direction }}
        </li>
        </ng-container>
        <li class="list-group-item">
          <input type="text" [(ngModel)]='tempDirection' placeholder="Direction">
          <button class="btn btn-success" (click)='addDirection()'>Add direction +</button>
        </li>
      </ul>
    </div>
  </div>
   <div class="card-block">
    <div class="card-text">
       <button class="btn btn-primary" (click)='createFood()'>Create</button>
      </div>
  </div>
</div>