<div class="card">
  <div class="card-block">
    <h2>Add healthy category</h2>
    <!-- <input type="text" [(ngModel)]='mealCategory.name' placeholder="Category"> -->
    <button class="btn btn-success" (click)='createCategory()'>Add category +</button>
  </div>
  <div class="card-block">
      <h2>Edit healthy category</h2>
                <div class="form-group row">
              <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
              <button type="button" class="btn btn-success btn-s" (click)="uploadImageByCategory(mealCategory.name)" [disabled]="!uploader.getNotUploadedItems().length">
            Upload file
          </button>
          </div>  
      <!-- <input type="text" [(ngModel)]='mealCategory.imageUrl' placeholder="Category"> -->
      <button class="btn btn-success" (click)='createCategory()'>Edit category</button>
    </div>

  <ul class="list-group">
    <ng-container *ngIf='allCategories'>
      <li class="list-group-item" *ngFor='let x of allCategories;let i = index;'>

        <img style="height:100px;" class="" src="{{host}}{{x.imageUrl}}" alt="Card image cap" (click)="select(x)">
        <input type="text" [(ngModel)]='x.name'>
        <input type="text" [(ngModel)]='x.imageUrl'>
        <div class="btn-group">
          <button class="btn btn-warning" (click)='updateCategory(x)'>Update</button>
          <button class="btn btn-danger" (click)='deleteCategory(x.id)'>Delete</button>
        </div>
      </li>
    </ng-container>
  </ul>
</div>  