<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/nutrition-result'>Nutrition Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/nutrition-editor'>Nutrition Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/healthy-result'>Healthy Recipes</a>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link"  routerLink='/healthy-editor'>Healthy food Editor</a></li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink='/add-healthy-category'>Add healthy category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/add-nutrition-category'>Nutrition categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/ingredient'>Add ingredient</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/measures'>Measures</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/identity'>Identity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/workout-add'>Workouts</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">


  <app-alert>

  </app-alert>
  <router-outlet>

  </router-outlet>
</div>