<p>
    <ng-container *ngIf='spinner'>
        <img src="https://loading.io/spinners/spinner/index.ajax-spinner-preloader.svg" lt="">
    </ng-container>
</p>

<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row">


            <div class="col-xl-3 col-lg-8 col-md-12">


                <div *ngIf=editMode>
                    <button class="btn btn-success" (click)='saveFood()'>Save Healthy Food</button>
                </div>
                <div *ngIf=createMode>
                    <button class="btn btn-warning" (click)='addHealthyFood()'>Add new Healthy Food</button>
                </div>
                <div class="form-group">
           
                    <img [src]=imageUrl alt="" class="img-fluid">
   
                    <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                Upload file
                            </button>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label class="col-12 col-form-label">Credit To</label>

                    </div>



                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="btnGroupAddon">Url</span>
                            <input class="col-offset-2 form-control" [(ngModel)]="food.creditTo" type="url" name="creditto" placeholder="Credit To">
                        </div>

                        <!-- <p class="valid-error" *ngIf="!meal.credito">credito length over 4 chars</p> -->
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label class="col-12 col-form-label">Category Name</label>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">
                                           <span *ngIf='!food.premium' class="text-danger">Premium
                                               </span> 
                                               <span *ngIf='food.premium' class="text-info">Premium
                                                </span> 
                                          </label>
                    </div>
                    <select class="col-8 custom-select" name="selectCategory" id="selectCategory" [(ngModel)]="food.mealCategory">
                        <option *ngFor='let category of categories;let i = index' [ngValue]="category.name">{{category.name}}</option>
                    </select>
                    <div class="col-2">
                        <label class="switch">
                                            <input [(ngModel)]="food.premium" type="checkbox">
                                            <span class="slider round"></span>
                                          </label>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label class="col-12 col-form-label">Healthy Food Name</label>
                    </div>

                    <div class="col-12">
                        <input class="col-offset-2 form-control" [(ngModel)]="food.name" type="text" name="healthyfoodname" placeholder="Healthy Food Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-6 col-form-label">Yield</label>
                    <div class="col-6">
                        <input class="form-control" [(ngModel)]="food.yield" type="number" name="yield" placeholder="yield">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-6 col-form-label">Prep Time</label>
                    <div class="col-6">
                        <input class="form-control" [(ngModel)]="food.prepTime" type="number" name="prepTime" placeholder="prepTime">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-6 col-form-label">Cook Time</label>
                    <div class="col-6">
                        <input class="form-control" [(ngModel)]="food.cookTime" type="number" name="cookTime" placeholder="cookTime">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-form-label">Directions</label>
                    <div class="col-12">

                        <textarea class="form-control" rows="4" cols="45" [(ngModel)]="food.directions" required type="number" name="directions"
                            placeholder="directions"></textarea>
                        <p class="valid-error" *ngIf="!food.directions">directions is required</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <button class="btn btn-warning" (click)='addDescriptionToFood()'>Add Ingredient (desc)</button>
                <div class="row">
                    <div class="col-xl-4">

                        <div *ngIf='food.ingredientDescriptions.lenght!==0' class="form-group col-xl-12">
                            <div *ngFor='let desc of food.ingredientDescriptions;let i = index'>
                                <div class="row" (dblclick)='deleteIngredientDescription(desc)'>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="label-custom input-group-addon" id="basic-addon3">Measure</span>
                                            <!-- <input class="form-control" [(ngModel)]="desc.measureType" type="number" name="measureType" placeholder="measureType (1 or 0)"> -->
                                            <select class="custom-select col" name="selectCategory" id="selectCategory" [(ngModel)]="desc.measureId">
   
                
                                                    <!-- <option value="null" selected >1 grams</option> -->
                                                    <option *ngFor="let measure of measures;let m = index" [ngValue]="measure.id">{{measure.measureName}}</option>
                                                <!-- <option value="0">Count</option>
                                                                <option value="1">Weight</option> -->
                                                        </select>
                                        </div>

                                        <div class="input-group">
                                            <span class="label-custom input-group-addon">Count</span>

                                            <input class="form-control" [(ngModel)]="desc.count" type="float" name="count" placeholder="count">

                                        </div>
                                        <div class="input-group">
                                            <span class="label-custom input-group-addon">Ingredient</span>
                                            <input class="drag-panel form-control" dnd-droppable (onDropSuccess)="addToDescription($event, desc)" [value]="desc.ingredient.name"
                                                [dropZones]="['demo1']" placeholder="Drag the ing. here">


                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-8">
                        <app-ingredient-pg-result>
                        </app-ingredient-pg-result>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ng-container *ngIf='food.directions'>
            <li class="list-group-item" *ngFor='let direction of food.directions; let i = index'>
                {{direction}}
                <button class="btn btn-danger" style="float:left;width: 20%;" (click)='deleteDirection(i)'>Delete</button>
            </li>
        </ng-container> -->
    </div>
    <div class="container">

        <div *ngFor='let gr of groupedFoods'>

            <div class="row col-xl-12">
                <h3>
                    {{gr.group}}
                </h3>
            </div>
            <div class="row">


                <div *ngFor='let food of gr.arr;let i = index' class="col-xl-4">
                    <div class="card food">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" (click)='editFood(food)'>Edit</button>
                            <button type="button" class="btn btn-secondary" (click)='updateFood(food)'>Update</button>
                            <button type="button" class="btn btn-secondary" (click)='deleteFood(food.id, food.name)'>Delete</button>
                        </div>
                        <img class="card-img-top " src="{{host}}{{food.imageName}}" alt="Card image cap">
                        <div class="card-body">
                            <a [href]="food.creditTo">Credit To</a>
                            <h4 class="card-title">
                                {{food.name}}
                            </h4>
                            <h6 class="text-title">
                                PREP TIME {{food.prepTime}}
                                <!-- <input [(ngModel)]='food.prepTime' type="text" readonly> -->
                            </h6>
                            <h6 class="text-title">
                                COOK TIME {{food.cookTime}}
                                <!-- <input [(ngModel)]='food.cookTime' type="text" readonly> -->
                            </h6>
                            <h5>Yield: {{food.yield}} servings</h5>
                            <h4 class="text-title">
                                Ingredients
                            </h4>

                        </div>
                        <div class="card-footer">
                            <ul class="list-group list-group-flush col">
                                <li class="list-group-item" *ngFor='let ingred of food.ingredientDescriptions'>
                                    {{ ingred.ingredient.name }} <span class="badge badge-info">{{ ingred.count }} {{ ingred.measureType | measureType}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>