<div class="card">
  <!--Hard code-->
  <div class="card-block">
    <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload with ng-2 file uploader
</button>
  </div>
  <div class="card-block">
    <div class="form-group">
      <label>food category</label>
      <input type="text" [(ngModel)]='food.mealCategory'>
    </div>
    <h2 class="text-title">
      <div class="form-group">
        <label>Name food</label>
        <input type="text" [(ngModel)]='food.name'>
      </div>
    </h2>
    <h6 class="text-title">
      <div class="form-group">
        <label>Prep time</label>
        <input type="number" [(ngModel)]='food.prepTime'>
      </div>
    </h6>
    <h6 class="text-title">
      <div class="form-group">
        <label> Cook time</label>
        <input type="number" [(ngModel)]='food.cookTime'>
      </div>
    </h6>
    <h5>Yield: <input type='number' [(ngModel)]='food.yield'> servings</h5>
    <h4 class="text-title">
      Ingredients
    </h4>
    <ul class="list-group list-group-flush">
      <div class="list-group-item">
        <input type="text" [(ngModel)]='tempIngredients.count' class='form-control' placeholder="Count">
      </div>
      <div class="list-group-item">
        <input type="text" [(ngModel)]='tempIngredients.measureType' class='form-control' placeholder="Measure type">
      </div>
      <!-- <div class="col-sm-3">
          <div class="panel panel-success">
              <div class="panel-heading">Available products</div>
              <div class="panel-body">{{ingredient.id}}
                  <div *ngFor="let ingredient of ingredients;let i = index;" class="panel panel-default"
                      dnd-draggable [dragEnabled]="product.quantity>0" [dragData]="product" (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
                      <div class="panel-body">
                          <div [hidden]="ingredient.quantity===0">{{ingredient.name}} - \${{product.cost}}<br>(available: {{product.quantity}})</div>
                          <div [hidden]="ingredient.quantity>0"><del>{{ingredient.name}}</del><br>(NOT available)</div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="list-group-item">
        <button class="btn btn-success" (click)='addIngredient()'>Add +</button>
      </div>
    </ul>
  </div>
  <div class="card-block">
    <!-- <div class="card-text">
      <p>Direction</p>
      <ul class="list-group list-group-flush">
        <ng-container *ngIf='food.directions'>
          <li class="list-group-item" *ngFor='let direction of food.directions; let i = index'>
            {{direction}}
           <button class="btn btn-danger" style="float:left;width: 20%;" (click)='deleteDirection(i)'>Delete</button>
        </li>
        </ng-container>
        <li class="list-group-item">
          <input type="text" [(ngModel)]='tempDirection' placeholder="Direction">
          <button class="btn btn-success" (click)='addDirection()'>Add direction +</button>
        </li>
      </ul>
    </div> -->
  </div>
  <div class="card-block">
    <div class="card-text">
      <button class="btn btn-primary" (click)='createFood()'>Create</button>
    </div>
  </div>
</div>

<div *ngFor='let ingredient of ingredients;let i = index;'>

  <div class="col-xs-2">
    <div dnd-droppable class="panel panel-success" (onDropSuccess)="transferDataSuccess($event)">
      <div class="panel-heading">Available to drag</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>{{i}} {{ingredient.id}}</div>
            <!-- <div>{{transferData | json}}</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Select Ingredient -->
  <!-- <select [(ngModel)]='tempIngredients.id' style="width: 100%">
                  <option *ngFor='let n of ingredients' value="{{n.id}}">{{n.name}}</option>
                </select> -->
</div>