<div class="card" *ngFor='let meal of foods' >
  <!--Hard code-->
  <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap"> -->
  <div class="card-block">
     <h2 class="text-title">
       {{meal.name}}
     </h2>
   <h6 class="text-title">
    PREP TIME {{meal.prepTime}}
  </h6>
   <h6 class="text-title">
    COOK TIME {{meal.cookTime}}
  </h6>
  <h5>Yield: {{meal.yield}} servings</h5>
  <h4 class="text-title">
   Ingredients
  </h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor='let ingred of meal.ingredients'>
      {{ ingred.count }} {{ingred.measureType}}, {{ ingred.ingredient }} 
    </li>
  </ul>
  </div>
  <div class="card-block">
    <div class="card-text">
      <p>Direction</p>
      <ul class='list-group list-group-flush'>
        <li class="list-group-item" *ngFor='let direction of meal.directions; let i = index'>
          {{i+1}}. {{ direction }}
        </li>
      </ul>
    </div>
    <button class="btn btn-warning">Update</button>
  <button class="btn btn-danger">Delete</button>
  </div>
</div>