<div class="container">
  <div class="row">


      <div class="col-md-6 col-xl-4 col-sm-12 col-xs-12" *ngIf='!registerMode' style="    margin: 0 auto;">
          <h3 class="text-center">Login</h3 >
            <div class="form-group">

              <label for="exampleInputEmail1">Name</label>
              <input class="form-control form-control-lg" type="text" [(ngModel)]='user.username' placeholder="Name">
              <small *ngIf='!user.username' id="emailHelp" class="form-text text-muted">Validation</small>
            </div>
            <div class="form-group">
              <label for="e">Password</label>
              <input class="form-control form-control-lg" type="text" [(ngModel)]='user.password' placeholder="Password">
              <small *ngIf='!user.password' id="emailHelp" class="form-text text-muted">Validation</small>
            </div>
            <button class="btn btn-primary" (click)='signin()'>
              Sign in
            </button>
            <button class="btn" (click)='registerMode=true'>
              Register
            </button>
    </div>

    <div class="col-md-6 col-xl-4 col-sm-12 col-xs-12" *ngIf='registerMode' style="    margin: 0 auto;">
      <h3 class="text-center">Register</h3>
      <div class="form-group">

        <label for="exampleInputEmail1">Name</label>
        <input class="form-control form-control-lg" type="text" [(ngModel)]='registerUser.email' placeholder="Email">
        <small *ngIf='!registerUser.email' id="emailHelp" class="form-text text-muted">Validation</small>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input class="form-control form-control-lg" type="text" [(ngModel)]='registerUser.password' placeholder="Password">
        <small *ngIf='!registerUser.password' id="emailHelp" class="form-text text-muted">Validation</small>
      </div>
      <button class="btn btn-primary" (click)='register()'>
      Register
    </button>
      <button class="btn" (click)='registerMode=false'>
        Back
    </button>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6 col-xl-4 col-sm-12" style="    margin: 0 auto;text-align: center; padding-top:20px;">

          <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-danger">Google</button>
              <button class="btn btn-primary">Facebook</button>
              <button class="btn btn-primary" (click)='isAuth()'>IsAuth</button>
            </div>

    </div>

  </div>
</div>