<div class="row">
    <div *ngFor="let workout of workouts; let ind = index;" class="col-xl-2 col-md-3 col-lg-3 col-sm-6">

        <div class="card" (click)='edit(workout)'>
            <div class="d-tools" (click)='delete(workout.id, ind)'>
                <span>
                            </span>
            </div>
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-header">
                <h4 class="card-title">Name {{workout.name}}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Time {{workout.workoutTimeAbc}}</h5>
                <p class="card-text">Description {{workout.workoutDescription}}</p>
            </div>
            <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul> -->
        </div>
    </div>
</div>