<div class="container">
    <div class="row">
        <div class="col">
            <h2>Ingredients</h2>
        </div>
        <!-- <div class="col-8">
                <i class="fa fa-beer" aria-hidden="true" style="font-size: 40px;color:green;"></i>- Cup
                <i class="fa fa-spoon" aria-hidden="true" style="font-size: 40px;color:orange;"></i>- Tablespoon
                <i class="fa fa-spoon" aria-hidden="true" style="font-size: 25px;color:blue"></i>- Teaspoon
            </div> -->
    </div>
    <div class="row">
        <div class="form-group col">
            <input class="form-control" [name]='' placeholder="Search" (keypress)="_name=$event.target.value;setPage();" type="text">
        </div>
    </div>
    <div class="card-columns">
        <li class="card food col" (dblclick)="edit(ingredient)" dnd-draggable [dragData]="ingredient" [dragEnabled]="ingredient" [dropZones]="['demo1']" *ngFor='let ingredient of pagedItems'>
            {{ingredient.name}} / {{ingredient.calories}}
        </li>
    </div>

    <div class="card-columns">
        <div  ng-hide="(!pager.totalPages || pager.totalPages < 2)" style="display:inline">
            <div class="text-center">
                <ul class="pagination" style='display: inline-flex;'>
                    <button class="page-item btn btn-default" [disabled]='this.page === 0' (click)='navigatePrew()'>Prew</button>
                    <!-- <li><a *ngIf="page != 0" (click)="search(0)"><<</a></li>
                    <li><a *ngIf="page != 0" (click)="search(page-1)"><</a></li> -->
                    <li class="page-item" *ngFor="let nr of range; let n = index;" [ngClass]="{active: n == page}">
                        <a class="page-link" (click)="setPage(n)" *ngIf="n != page">{{n+1}}</a>
                        <span class="page-link" *ngIf="n == page">{{n+1}}</span>

                    </li>

                    <!-- <li><a *ngIf="page != (pager.totalPages - 1)" (click)="search(pagePlus(1))">></a></li>
                    <li><a *ngIf="page != (pager.totalPages - 1)" (click)="search(pager.totalPages - 1)">>></a></li> -->
                    <button class="page-item btn btn-default" [disabled]='this.page === pager.totalPages-1' (click)='navigate()'>Next</button>
                </ul>
            </div>
        </div>
    </div>
</div>