<div class="container-fluid">
  <simple-notification>
  </simple-notification>
  <router-outlet>
  </router-outlet>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-hidden="true" routerLink='/healthy-result'>
              <i class="fa fa-futbol-o" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-hidden="true" routerLink='/nutrition-result'>
            <i class="fa fa-cutlery" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-hidden="true" routerLink='/search'>
            <i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-hidden="true" routerLink='/identity'>
                <i class="fa fa-cog" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>

</div>