
<div>
  <div class="card-columns">
    <div class="card food not-padding" *ngFor='let meal of meals'>



      <div class="d-tools" (click)='deleteMeal(meal.id)'>
        <span>
        </span>
      </div>
      <img class="card-img-top" src="http://duxteamfitnessapplication.azurewebsites.net/{{meal.imageName}}" alt="" routerLink='/nutrition-editor/{{meal.id}}' >

      <div class="card-block col-xl-12 col-md-12">

        <a [href]="meal.creditTo">Credit To</a>
        <h2 class="text-title">
          {{meal.name}}
        </h2>

        <h6 class="text-title">
          PREP TIME {{meal.prepTime}}
        </h6>
        <h6 class="text-title">
          COOK TIME {{meal.cookTime}}
        </h6>
        <h5>Yield: {{meal.yield}} servings</h5>
        <h4 class="text-title">
          Ingredients
        </h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor='let ingred of meal.nutritionIngredientDescriptions'>
            {{ ingred.count }} {{ingred.measureType | measureType}} {{ingred.nutritionIngredient.name}} {{ingred.nutritionIngredient.calories}} cals / 100 gr.
          </li>
        </ul>
      </div>
      <!-- <div class="card-block">
      <div class="card-text">
        <p>Direction</p>
        <ul class='list-group list-group-flush'>
          <li class="list-group-item" *ngFor='let direction of meal.directions; let i = index'>
            {{i+1}}. {{ direction }}
          </li>
        </ul>
      </div>
      <button class="btn btn-warning">Update</button>
    <button class="btn btn-danger" (click)='deleteFood(meal.id)'>Delete</button>
    </div> -->
    </div>
  </div>
</div>

