<div class="container">
    <div class=" form-group row" [hidden]="!createMode">

            <div class="col-6">
                <label for="name">Name:</label>
                <input class="form-control" id='name' type="text" [(ngModel)]='measure.measureName' placeholder="Measure type" class='form-control'>
            </div>
            <div class="col-6">
                <label>Equals gram:</label>
                <div class="row">
                        <input class="col-8 form-control" type="number" min="1" [(ngModel)]='measure.EqualsGram'>
                        <button class="col-4 form-control btn btn-success" (click)='createMeasure()'>Add</button>
       
                </div>
            </div>
    </div>

</div>
<div class="container">
    <div class="list-group">

        <div class="list-group-item active row" style="display: flex;">

            <div class="col-1">
                Number
            </div>
            <div class="col-7">
                Name
            </div>
            <div class="col-4">
                Equals gram
            </div>
        </div>
        <div class="list-group-item row" *ngFor='let i of measures;let ind = index;' style="display: flex;">

            <div class="col-1">
                {{ind}}
            </div>
            <div class="col-7">
                {{i.measureName}}
            </div>
            <div class="col-3">
                {{i.equalsGram}}
            </div>
            <div class="col-1">
                <button class="btn btn-danger" (click)='deleteMeasure(i.id)'>Delete</button>
            </div>


        </div>

    </div>
</div>