<div class="page" *ngIf='healthy' (click)='clear()'>
  <div class="col-xl-12 not-padding detail-page">

    <div class="page-header d-flex w-100 justify-content-between">
      <h2 class="mb-1">{{healthy.name}}</h2>
      <!-- <i *ngIf='!gr.hiden' class="fa fa-angle-down indicator-btn" aria-hidden="true"></i>
    <i *ngIf='gr.hiden' class="fa fa-angle-up indicator-btn" aria-hidden="true"></i> -->
    </div>
    <div class="page-img-top">
      <img src="{{host}}{{healthy.imageName}}" alt="Healthy image not load">
    </div>
  </div>
  <div class="col-xl-12 not-padding row">
    <div class="col text-center">prepTime</div>
    <div class="col text-center">cookTime</div>
    <div class="col text-center">Total</div>
  </div>
  <div class="col-xl-12 not-padding row">
    <div class="col text-center">{{healthy.prepTime}}</div>
    <div class="col text-center">{{healthy.cookTime}}</div>
    <div class="col text-center">{{healthy.cookTime + healthy.prepTime}}</div>
  </div>
  <div class="col-xl-12 not-padding">
    <h4 class="col-xl-12 text-center">Ingredients</h4>
    <ol>
      <li *ngFor='let description of healthy.ingredientDescriptions'>{{description.ingredient.name}}<input type="checkbox" value="ingredient"></li>

    </ol>
  </div>
  <div class="col-xl-12">
    <h4 class="col text-center">Directions</h4>
    <p>{{healthy.directions}}</p>
      
    
  </div>
</div>
<app-healthy-food-result [hidden]="healthy" (out)='Load($event)'>

</app-healthy-food-result>