
.detail-page{
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-page .page-header{
    position: absolute;
    margin: 50% auto 50% auto;
  }


  .detail-page h2,h4 {
    color:white;
    text-shadow:  0 0 1px #000000;
  }

  .detail-page .page-img-top{
    height: 330px;
  }
  .detail-page .page-img-top img {

    margin: -50% -35% -30% auto;
  }
  .detail-page .indicator-btn {
    font-size: 45px;
    color:white;
    text-shadow:  0 0 1px #000000;
  }