<div class="container">
  <div class="row">


    <div class="col-xl-3 col-lg-8 col-md-12">

      <div class="btn-group" role="group" aria-label="Basic example">

        <button *ngIf=createMode class="btn btn-warning" (click)='addWorkout()'>Add new Workout</button>

        <button *ngIf=editMode class="btn btn-success" (click)='saveWorkout()'>Save Workout</button>

        <button class="btn" (click)='cleanIngredientForm()'>Clean</button>
      </div>
      <!-- <div class="form-group row">
              <img [src]=imageUrl alt="" class="col-xl-12" style="height:200px;">
              <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
              <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  Upload file
              </button>
          </div> -->

      <div class="form-group row">
        <div class="col-8">
          <label class="col-12 col-form-label">Workout Category</label>
        </div>
        <div class="col-2">
          <label class="col-form-label">
                                     <span *ngIf='!workout.premium' class="text-danger">Premium
                                         </span> 
                                         <span *ngIf='workout.premium' class="text-info">Premium
                                          </span> 
                                    </label>
        </div>
        <select (change)='change(selectCategory)' class="col-8 custom-select" name="1selectCategory" id="1selectCategory" [(ngModel)]="selectCategory">

          <option  *ngFor='let workoutCategory of workoutCategories' [ngValue]="workoutCategory.id">{{workoutCategory.name}}</option>
              </select>

        <div class="col-2">
          <label class="switch">
                                      <input [(ngModel)]="workout.premium" type="checkbox">
                                      <span class="slider round"></span>
                                    </label>
        </div>
        <p class="valid-error" *ngIf="!workout.workoutTypeId">Select Workout Category</p>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <label class="col-12 col-form-label">Workout Type</label>
        </div>
        <select class="col-12 custom-select" name="selectworktype" id="selectworktype" [(ngModel)]="workout.workoutTypeId">
            <option selected disabled>Select workout type</option>    
                  <option *ngFor='let worktype of workouttypes' [ngValue]="worktype.id">{{worktype.type}}</option>
              </select>

        <p class="valid-error" *ngIf="!workout.workoutTypeId">Select WorkoutType</p>
      </div>


      <div class="form-group row">
        <div class="col-12">
          <label class="col-12 col-form-label">Workout Name</label>
        </div>



        <div class="col-12">
          <input class="col-offset-2 form-control" [(ngModel)]="workout.name" required type="text" name="name" placeholder="Workout Name">
          <p class="valid-error" *ngIf="!workout.name">Name length over 4 chars</p>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-12">
          <label class="col-12 col-form-label">Description</label>
        </div>



        <div class="col-12">
          <input class="col-offset-2 form-control" [(ngModel)]="workout.workoutDescription" required type="text" name="Description"
            placeholder="Description">
          <p class="valid-error" *ngIf="!workout.workoutDescription">Description length over 4 chars</p>
        </div>

      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Durability</label>
        <div class="col-8">
          <input class="form-control" [(ngModel)]="workout.workoutTimeAbc" required type="time" name="time" placeholder="time">
          <p class="valid-error" *ngIf="!workout.workoutTimeAbc ">Durability is required</p>
        </div>
      </div>
    </div>
  </div>

</div>
<app-workout-result (editWorkout)="Load($event)"></app-workout-result>