<div class="card">
  <!-- <div class="card-block">
    <h2>Add nutrition category</h2>
    <div class="form-group col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]='nutritionCategory.name' placeholder="Category">
        <button class="btn btn-success" (click)='createCategory()'>Add new Category</button>
      </div>
    </div>
  </div> -->
  <!-- <div class="card-block">
    <h2>Edit nutrition category</h2>

    <div class="form-group col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12" style="">
      <img style="height:220px;background-size:auto; " class="" src="{{host}}{{nutritionCategory.imageUrl}}" alt="Card image cap">
      <div class="input-group">
        <input class="form-control" type="file" name="image" ng2FileSelect [uploader]="uploader" />
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-s" (click)="uploadImageByCategory(nutritionCategory.name)" [disabled]="!uploader.getNotUploadedItems().length">
                      Upload file
                    </button>
          <button class="btn btn-warning" (click)='updateCategory(nutritionCategory)'>Update</button>
          <button class="btn btn-danger" (click)='deleteCategory(nutritionCategory.id)'>Delete</button>
        </div>
      </div>
    </div>

  </div> -->

  <div class="card-columns">
    <ng-container *ngIf='allCategories'>
      <div class="card" *ngFor='let x of allCategories;let i = index;' >
<div class="image-zone" style="width:auto;
overflow: hidden;">


        <img style="width:100%;" class="" src="{{host}}{{x.imageUrl}}" alt="Card image cap" (click)="select(x)">
      </div>
        <div class="input-group">
          <input type="text" [(ngModel)]='x.name' class="form-control">
          <div class="btn-group">
            <!-- <button class="btn btn-warning" (click)='updateCategory(x)'>Update</button> -->
            <button class="btn btn-danger" (click)='deleteCategory(x.id)'>Delete</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>