
.block {
    -webkit-animation:scaleme 1s;
    -webkit-animation-fill-mode: both;
}
.card:hidden{
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
   }
   
   .card{
     -webkit-animation:scaleme 1s;
     -webkit-animation-fill-mode: both;
   }
   
   @-webkit-keyframes scaleme {
     0% { 
        -webkit-transform: translate(-210px);
        -ms-transform: translate(-210px); 
        transform: translate(-210px);
    }
     100% { 
        -webkit-transform: translate(0px);
        -ms-transform: translate(0px); 
        transform: translate(0px);
         
         -webkit-animation-play-state: paused;
        }
   }    
   