<button  class="btn btn-default" (click)='showAddIngredientForm()'>Add </button>
<button class="btn btn-default" (click)='cleanIngredientForm()'>Clean </button>
<div class="row">




<div class="card col-4" [hidden]="!createMode">
  <div class="card-block">

    <label for="name">Name:</label>
    <input id='name' type="text" [(ngModel)]='ingred.name' class='form-control'>

    <label>Calories:</label>
    <input type="number" [(ngModel)]='ingred.calories' class='form-control'>

    <label>Fats:</label>
    <input type="number" [(ngModel)]='ingred.fats' class='form-control'>

    <label>Polyunsaturatedfattyacids:</label>
    <input type="number" [(ngModel)]='ingred.polyunsaturatedfattyacids' class='form-control'>
    
    <label>Monounsaturatedfattyacids:</label>
    <input type="number" [(ngModel)]='ingred.monounsaturatedfattyacids' class='form-control'>

    <label>SaturatedFat:</label>
    <input type="number" [(ngModel)]='ingred.saturatedFat' class='form-control'>

    <label>Sodium:</label>
    <input type="number" [(ngModel)]='ingred.sodium' class='form-control'>

    <label>Dietaryfiber:</label>
    <input type="number" [(ngModel)]='ingred.dietaryfiber' class='form-control'>

    <label>Cholesterol:</label>
    <input type="number" [(ngModel)]='ingred.cholesterol' class='form-control'>

    <label>Carbohydrates:</label>
    <input type="number" [(ngModel)]='ingred.carbohydrates' class='form-control'>
    <label>Sugar:</label>
    <input type="number" [(ngModel)]='ingred.sugar' class='form-control'>
    <label>Proteins:</label>
    <input type="number" [(ngModel)]='ingred.proteins' class='form-control'>
    <div class="card-block">
      <button class="btn btn-success" *ngIf='!editMode' (click)='addIngredient()'>Add</button>
      <button class="btn btn-info" (click)='editIngredient()'>Save</button>
      <button class="btn btn-danger" *ngIf='editMode' (click)='deleteIngredient()'>Delete</button>
    </div>
  </div>
</div>
<div class="block col-8">
  <app-ingredient-pg-result (editIngredient)="Load($event)" >

  </app-ingredient-pg-result>
</div>
</div>