
<div class="app">
    <div class="list-group">
        <div *ngFor='let gr of groupedFoods; let ind = index;'>
            <div class="col-xl-12 not-padding category-page" (click)='hide(ind)'>
                <div class="page-header d-flex w-100 justify-content-between">
                    <h2 class="mb-1">{{gr.name}}</h2>
                    <i *ngIf='!gr.hiden' class="fa fa-angle-down indicator-btn" aria-hidden="true"></i>
                    <i *ngIf='gr.hiden' class="fa fa-angle-up indicator-btn" aria-hidden="true"></i>
                </div>
                <div class="page-img-top">
                    <img src="{{host}}{{gr.categoryImage}}" alt="Category image not load">
                </div>
            </div>
            <div *ngIf='gr.hiden'>
                <div *ngFor='let food of gr.foods;let i = index' class="col-xl-12 not-padding">
                    <div class="card food" (click)='detail(food.id)' routerLink="/healthy-detail/{{food.id}}" routerLinkActive="active">
                        <!-- <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">CLick</button>
                            <button type="button" class="btn btn-secondary" (click)='updateFood(food)'>Update</button>
                            <button type="button" class="btn btn-secondary" (click)='deleteFood(food.id, food.name)'>Delete</button>
                        </div> -->
                        <div class="card-img-top">
                            <img src="{{host}}{{food.imageName}}" alt="Card image cap">
                        </div>

                        <div class="card-body" style="position: absolute;">
                            <a [href]="food.creditTo">Credit To</a>
                            <h4 class="card-title">
                                {{food.name}}
                            </h4>
                            <!-- <h6 class="text-title">
                                PREP TIME {{food.prepTime}}
                     
                            </h6>
                            <h6 class="text-title">
                                COOK TIME {{food.cookTime}}
              
                            </h6>
                            <h5>Yield: {{food.yield}} servings</h5>
                            <h4 class="text-title">
                                Ingredients
                            </h4> -->

                        </div>
                        <!-- <div class="card-footer">
                            <ul class="list-group list-group-flush col">
                                <li class="list-group-item" *ngFor='let ingred of food.ingredientDescriptions'>
                                    {{ ingred.ingredient.name }} <span class="badge badge-info">{{ ingred.count }} {{ ingred.measureType | measureType}}</span>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>