<div class="container">
    <div class="row">


        <div class="col-xl-3 col-lg-8 col-md-12">
            <div *ngIf=editMode>
                <button class="btn btn-success" (click)='saveMeal()'>Save Meal</button>
            </div>
            <div *ngIf=createMode>
                <button class="btn btn-warning" (click)='addMeal()'>Add new Meal</button>
            </div>
            <div class="form-group row">
                <img [src]=imageUrl alt="" class="col-xl-12" style="height:200px;">
                <input type="file" name="image" ng2FileSelect [uploader]="uploader" />
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Upload file
                </button>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label class="col-12 col-form-label">Credit To</label>
                    
                  </div>
     

   
                <div class="col-12">
                        <div class="input-group">
                                <span class="input-group-addon" id="btnGroupAddon">Url</span>
                                <input  class="col-offset-2 form-control" [(ngModel)]="meal.creditTo"  type="url" name="creditto" placeholder="Credit To" >
                              </div>
                    <!-- <p class="valid-error" *ngIf="!meal.credito">credito length over 4 chars</p> -->
                </div>
         
            </div>
            <div class="form-group row">
                <div class="col-8">
                    <label class="col-12 col-form-label">Meal</label>
                </div>
                <div class="col-2">
                        <label class="col-form-label">
                                       <span *ngIf='!meal.premium' class="text-danger">Premium
                                           </span> 
                                           <span *ngIf='meal.premium' class="text-info">Premium
                                            </span> 
                                      </label>
                    </div>
                <select class="col-8 custom-select" name="selectCategory" id="selectCategory" [(ngModel)]="meal.nutritionMealCategoryId">
                    <option *ngFor='let category of categories' [ngValue]="category.id">{{category.name}}</option>
                </select>

                    <div class="col-2">
                        <label class="switch">
                                        <input [(ngModel)]="meal.premium" type="checkbox">
                                        <span class="slider round"></span>
                                      </label>
                    </div>
                <p class="valid-error" *ngIf="!meal.nutritionMealCategoryId">Select Meal</p>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label class="col-12 col-form-label">Meal Name</label>
                  </div>
     

   
                <div class="col-12">
                    <input  class="col-offset-2 form-control" [(ngModel)]="meal.name" required type="text" name="name" placeholder="Meal Name" >
                    <p class="valid-error" *ngIf="!meal.name">Name length over 4 chars</p>
                </div>
         
            </div>


            <div class="form-group row">
                <label class="col-4 col-form-label">Yield</label>
                <div class="col-8">
                    <input  class="form-control" [(ngModel)]="meal.yield" required type="number" name="yield" placeholder="yield">
                    <p class="valid-error" *ngIf="!meal.yield ">Yield is required</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Prep Time</label>
                <div class="col-8">
                    <input class="form-control" [(ngModel)]="meal.prepTime" required type="number" name="prepTime" placeholder="prepTime">
                    <p class="valid-error" *ngIf="!meal.prepTime">Prep Time is required</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Cook Time</label>
                <div class="col-8">
                    <input  class="form-control" [(ngModel)]="meal.cookTime" required type="number" name="cookTime" placeholder="cookTime">
                    <p class="valid-error" *ngIf="!meal.cookTime">Cook Time is required</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12 col-form-label">Directions</label>
                <div class="col-12">
                        <textarea class="form-control" rows="4" cols="45"  [(ngModel)]="meal.directions" required type="number" name="directions" placeholder="directions"></textarea>
                    <p class="valid-error" *ngIf="!meal.directions">directions is required</p>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
                <button class="btn btn-warning" (click)='addDescriptionToFood()'>Add Ingredient (desc)</button>
            <div class="row">
                <div class="col-xl-4">
                    <div *ngIf='meal.nutritionIngredientDescriptions.lenght!==0' class="form-group col-xl-12">
                        <div *ngFor='let desc of meal.nutritionIngredientDescriptions;let i = index'>
                            <div class="row">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="label-custom input-group-addon" id="basic-addon3">Weight</span>
                                        <!-- <input class="form-control" [(ngModel)]="desc.measureType" type="number" name="measureType" placeholder="measureType (1 or 0)"> -->
                                        <select class="custom-select col" [(ngModel)]="desc.measureId">
                                               <!-- <option value="0">Count</option> -->
                                               <option *ngFor='let measure of measures' [ngValue]="measure.id">{{measure.measureName}}</option>
                                        </select>
                                    </div>

                                    <div class="input-group">
                                        <span class="label-custom input-group-addon" id="basic-addon3">Count</span>
                                        <input class="form-control" [(ngModel)]="desc.count" type="number" name="count" placeholder="count">
                                    </div>
                                    <div class="input-group">
                                        <span class="label-custom input-group-addon" id="basic-addon3">Ingredient</span>
                                        <input class="drag-panel form-control" dnd-droppable (onDropSuccess)="addToDescription($event, desc)" [value]="desc.nutritionIngredient.name"
                                            [dropZones]="['demo1']" placeholder="Drag the ing. here">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">
                    <app-ingredient-pg-result>
                    </app-ingredient-pg-result>
                    <!-- <h2>Ingredients</h2>
                    <div class="card-block">
                        <h4 class="card-title">
                            <div class="list-group-item panel col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-6" *ngFor='let ingredient of ingredients' dnd-draggable
                                [dragData]="ingredient" [dragEnabled]="ingredient" [dropZones]="['demo1']">
                                {{ingredient.name}}
                            </div>

                        </h4>
                    </div> -->
                </div>
        </div>
        </div>
    </div>

</div>