﻿@using Microsoft.Owin.Security
<div class="jumbotron">
    <h1>Fitness API V1</h1>
    <p class="lead">Login Page</p>
    <div class="row">
        <div class="col-md-4">
            <div class="userInfo" style="display:none;">
                <p>You login is: <span class="userName"></span></p>
                <input type="button" value="Выйти" id="logOut" />
            </div>
            <h3>Log in</h3>
            <form>
                <div class="loginForm">
                    <div class="form-group">
                        <label>Email</label><br />
                        <input class="form-control" type="email" id="emailLogin" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" id="passwordLogin" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg" type="submit" id="submitLogin" value="Log in" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Sign up</h3>
            <form>
                <div class="form-group">
                    <label>Email</label><br />
                    <input class="form-control" type="email" id="email" />
                </div>
                <div class="form-group">
                    <label>Password</label><br />
                    <input class="form-control" type="password" id="password" />
                </div>
                <div class="form-group">
                    <label>Confirm password</label><br />
                    <input class="form-control" type="password" id="confirmpassword" />
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-lg" type="submit" id="submit" value="Sign up" />
                </div>
            </form>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <p class="lead">Sign in a social networks</p>
            <div class="col-md-12" id="socialLoginList">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://smartdesk.io/widget/A1487354137214"></script>
@section scripts{
    <script type="text/javascript">


        $(function () {


            $.ajax({
                type: 'GET',
                url: '/api/Account/ExternalLogins?returnUrl=%2F&generateState=true'
            }).success(function (data) {
                console.log(data);
                var html = '';
                for (var index = 0; index < data.length; index++) {
                    html += '<a href=' + data[index].url + '><img src="Content/SocialNetworks/' + data[index].name + '.png"></a>';
                }
                $('#socialLoginList').html(html);

            }).fail(function (data) {
                alert('Error');
            });
            //...........................

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    $('.userName').text(data.userName);
                    $('.userInfo').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                    // сохраняем в хранилище sessionStorage токен доступа
                    sessionStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                    console.log(data);
                }).fail(function (data) {
                    alert('При логине возникла ошибка');
                });
            });

            $('#logOut').click(function (e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
            });

            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $('#email').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Регистрация пройдена");
                    console.log(data);
                }).fail(function (data) {
                    alert("В процесе регистрации возникла ошибка");
                });
            });

        })
    </script>
}